<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h4>@<%= post.id %></h4><br><br>
    <h1>@<%= post.username %></h1><br>

    <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea><br><br>
        <button type="submit">Save</button>
    </form>
    
    
</body>
</html>
